<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="container">
	<div class="row">
		<div class="col-md-12 mb-5">
			<h1><%= ask.title %></h1>
			<h4><%= ask.description %></h1>
		</div>
	</div>

	<div class="card">
		<div class="card-header">
			<h3>Responder</h3>
		</div>
		<div class="card-body">
			<form action="/answer/<%= ask.id %>" method="POST">
				<div class="mb-3">
					<label>Resposta</label>
					<textarea name="answer" cols="30" rows="10" class="form-control"></textarea>
				</div>

				<button type="submit" class="btn btn-primary">Responder</button>
			</form>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 mb-5">
			<h3>Respostas</h3>
			
			<% answers.forEach(answer => { %>
				<div class="card">
					<div class="card-body">
						<%= answer.answer %>
					</div>
				</div>
				
			<% }) %>
		</div>
	</div>
</div>

<%- include('partials/footer') %>